<!DOCTYPE html>
<html>
    <head>
        <title>Gestion de Cursos</title>
    </head>
    <body>
    <div align="center">
        <h1 class ="one">Gestion de Cursos</h1>
        <hr>
        <img src ="https://www.dblandit.com/img/logo-cuadrado-01.png" id="image1" width="200" height="200">
        <hr>
        </div>
    </body>
    <div class="form-group" align="center">
        <a class="btn btn-info" href="/user/signup"><i class="fa fa-street-view"></i> SignUp</a>
        <a class="btn btn-info" href="/user/login"><i class="fa fa-user-circle-o"></i> LogIn</a>
    </div>
    
</html>